// Color
$primaryClr: #906231;
$secondaryClr: #456e67;
$primaryLightClr: #f3e59c;
$redClr: #ff0000;
$blackClr: #000000;
$textClr: #2b2b2b;
$bgOneClr: #979797;
$bgTwoClr: #f7f5ec;
$bgThreeClr: #f4f4f4;
$whiteClr: #ffffff;
